.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px 0;
    overflow: hidden;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
}

.placeholder-content {
    text-align: center;
    margin-bottom: 15px;
}

.placeholder-content h1 {
    font-size: 1.9rem;
    margin-bottom: 0.5px;
}

.placeholder-content p {
    font-size: 1rem;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
}

.ver-eventos-btn {
    background-color: #0078c8;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 25px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.4s ease, transform 0.3s ease;
}

.ver-eventos-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}